<section id="author_show-<%= @author.id %>" class = "boxedred">
  <p> <strong> Author name: </strong> <%= @author.name %> </p>

  <section id="author_show_books-<%= @author.id %>" >
    <% @author.books.each do |book| %>
      <p><strong> Book Title:</strong> <%= book.title %>  </p>
    <% end %>
  </section>

  <p> <strong> Average Number of Pages: </strong> <%= @author.averagenumpages %> </p>
</section>
