<h3> All books </h3>

  <% @books.each do |book| %>
    <section id="book-<%= book.id %>" >
      <p> title:<%= book.title%> </p>
      <p> publication_year:<%= book.publication_year%> </p>
      <p> pages:<%= book.pages%> </p>
      
      <p> <%=  link_to book.authors.first.name, "authors/#{book.authors.first.id}" %> </p>
    </section>
  <% end %>
