<h3> All books </h3>

  <% @books.each do |book| %>
    <section id="book-<%= book.id %>", class="boxedblue">
      <p> <strong>title: </strong> <%= book.title%> </p>
      <p> <strong>publication_year: </strong> <%= book.publication_year%> </p>
      <p> <strong>pages: </strong> <%= book.pages%> </p>
      
      <p> <strong>author: </strong> <%=  link_to book.authors.first.name, "authors/#{book.authors.first.id}" %> </p>
    </section>
  <% end %>
